* {
  box-sizing: border-box;
  margin: 0;
}

.square:nth-child(odd) {
  background-color: #ddd;
}
.square:nth-child(even) {
  background-color: rgb(100, 100, 250);
}

.square.highlighted {
  background-color: yellow;
  border: solid 1px gray;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

button:disabled {
  background-color: #aaa;
  color: #ccc;
}
